<?xml version="1.0"?>
<Tasks>
	
	<Task name="FileWriteTestTask"
        type="FX.Tasks.FileWriteTestTask, FX.Tasks.Test"
        interval="60000"
        enabled="true"
        priority="1" />
	
	<Task name="ClearCacheTestTask"
				type="FX.Tasks.ClearCacheTestTask, FX.Tasks.Test"
				interval="10000"
				enabled="true"
				priority="1" />
	
</Tasks>